.thankyou {
  font-family: 'Great Vibes', cursive;
  font-size: 1em;   /* 小さめに調整 */
  margin-bottom: 20px;
}

.open-date {
  font-family: 'Shippori Mincho', serif;
  font-size: 18px;   /* DLボタンと同じくらい */
  margin-bottom: 30px;
}

.dl-button {
  font-size: 18px;
}
